* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(71, 15, 237);
  overflow: hidden;
}
h1 {
  background: #5372f0;
  font-size: 1.75rem;
  text-align: center;
  padding: 18px 0;
  color: #fff;
}

.container {
  background: rgb(65, 65, 227);
  border: 2px solid rgba(245, 244, 248, 0.2);
  display: flex;
  gap: 35px;
  height: 90%;
  width: 90%;
  padding: 30px;
  margin-top: 30px;
  border-radius: 15px;
}

.weather-input {
  width: 550px;
  height: 650px;
  background: rgba(22, 22, 22, 0.1);
  backdrop-filter: blur(50px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 20px;
}

.weather-input input {
  width: 100%;
  height: 46px;
  background: transparent;
  border-radius: 10px;
  font-size: 22px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 48px 0 42px;
}

.weather-input input:focus {
  padding: 0 16px;
  border: 2px solid #5372f0;
}

.weather-input button {
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  color: #fff;
  background: #5372f0;
  transition: 0.2s ease;
  margin-top: 10px;
  margin-bottom: 10px;
}

.weather-input .search-btn:hover {
  background: #2c52ed;
}

.weather-data {
  width: 100%;
}

.weather-data .current-weather {
  color: #fff;
  background: transparent;
  backdrop-filter: blur(50px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 20px 70px 20px 20px;
  height: 380px;
  display: flex;
  justify-content: space-between;
}

.current-weather h2 {
  font-weight: 700;
  font-size: 1.7rem;
}

.weather-data h6 {
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 500;
}

.current-weather .icon {
  text-align: center;
}

.current-weather .icon img {
  max-width: 500px;
  margin-top: -15px;
}

.current-weather .icon h6 {
  margin-top: -10px;
  text-transform: capitalize;
}

.days-forecast {
  background-color: #617ade;
  height: 200px;
  width: 100%;
  border-radius: 15px;
}

.days-forecast h3 {
  font-size: 10px;
}

.weather-cards {
  border-top: 2px solid black;
  padding-top: 10px;
}

.days-forecast .weather-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.weather-cards .card {
  color: #fff;
  list-style: none;
  width: 100px;
  height: 140px;
  background: rgba(231, 218, 218, 0.1);
  backdrop-filter: blur(50px);
  border-radius: 15px;
}

.card {
  font-size: smaller;
  text-align: center;
  background: transparent;
}

.card img {
  max-width: 80px;
}
