* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  margin-top: 0px;
  justify-content: center;
  min-height: 100vh;
  background: url(assets/images/fix.jpg);
  overflow: hidden;
  align-items: center;
  gap: 35px;
}

h1 {
  background: #5372f0;
  font-size: 1.75rem;
  text-align: center;
  padding: 18px 0;
  color: #fff;
}

/* input button */
.container {
  background: transparent;
  backdrop-filter: blur(50px);
  background: rgba(231, 218, 218, 0.1);
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(245, 244, 248, 0.2);
  display: flex;
  gap: 35px;
  height: 780px;
  width: auto;
  padding: 30px;
  border-radius: 15px;
  align-items: center;
}

.weather-input {
  height: 780px;
  width: 550px;
  background: transparent;
  background: rgb(255, 253, 253, 0.1);
  backdrop-filter: blur(50px);
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
}

.weather-input h3 {
  color: rgb(255, 255, 255);
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin-bottom: 10px;
  font-weight: lighter;
}

.weather-input input {
  width: 100%;
  height: 46px;
  background: transparent;
  border-radius: 10px;
  font-size: 22px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 48px 0 42px;
}

.weather-input input:focus {
  padding: 0 16px;
  border: 2px solid #5b5c61;
}

.weather-input button {
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  color: #fff;
  background: rgba(231, 218, 218, 0.1);
  transition: 0.2s ease;
  margin-top: 10px;
  margin-bottom: 10px;
}

.weather-input .search-btn:hover {
  background: #77787b;
}

.weather-data {
  width: 100%;
}

.weather-data .current-weather {
  color: #fff;
  background: transparent;
  backdrop-filter: blur(50px);
  text-align: center;
  height: 590px;
  display: flex;
  justify-content: space-between;
  background: transparent;
  background: rgba(231, 218, 218, 0.1);
  backdrop-filter: blur(50px);
  border-radius: 15px;
}

/* current weather */
.current-weather h2 {
  font-weight: 700;
  font-size: 1.7rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.weather-data h6 {
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 500;
}

.details h2 {
  text-align: start;
  padding-top: 20px;
  padding-left: 29px;
}

.details img {
  width: 200px;
  margin-top: -40px;
}

.temperature {
  font-size: 50px;
  margin-top: -50px;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(251, 255, 0);
}

.description {
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.current-weather .icon {
  text-align: center;
}

.current-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.current-cards ul {
  list-style: none;
  align-items: center;
}

.current-card i {
  color: blueviolet;
  font-size: 30px;
  justify-content: start;
  font-weight: lighter;
}

.current-card h4 {
  font-size: 30px;
  margin-bottom: -10px;
}

.current-card h3 {
  font-size: small;
  color: rgb(255, 195, 195);
}

.current-card h6 {
  font-size: 10px;
  text-align: start;
  padding-left: 10px;
  color: rgb(121, 96, 96);
}

.current-card {
  width: 200px;
  height: 120px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 10px;
}
/* seven days forecast */
.days-forecast {
  height: 250px;
  width: 100%;
  background: rgba(231, 218, 218, 0.1);
  backdrop-filter: blur(50px);
  border-radius: 15px;
  margin: -10px;
  padding: 15px;
  align-items: center;
}

.days-forecast h2 {
  font-size: 20px;
  color: rgb(237, 220, 220);
  font-weight: lighter;
}

.days-forecast h3 {
  font-size: 10px;
}

.sevenDays-cards {
  border-top: 2px solid gray;
  padding-top: 8px;
  margin-top: 8px;
  display: flex;
}

.card h3 {
  font-size: 13px;
  font-weight: lighter;
  margin-top: 8px;
  color: rgb(255, 236, 236);
}

.card img {
  margin-top: -15px;
}

.hourly-forecasts {
  height: 250px;
  width: 780px;
  background: rgba(231, 218, 218, 0.1);
  backdrop-filter: blur(50px);
  border-radius: 15px;
  margin: -10px;
  padding: 15px;
  align-items: center;
}

.hourly-cards {
  border-top: 2px solid gray;
  padding-top: 8px;
  margin-top: 8px;
  display: flex;
  overflow-x: auto;
}

.sevenDays-cards .card {
  color: #fff;
  list-style: none;
  width: 100px;
  height: 120px;
  backdrop-filter: blur(50px);
  border-radius: 15px;
  margin: 5px;
}

.hourly-cards .card {
  color: #fff;
  list-style: none;
  width: 100px;
  height: 120px;
  backdrop-filter: blur(50px);
  border-radius: 15px;
  margin: 5px;
  margin-bottom: 15px;
}

.hourly-forecasts h2 {
  font-size: 20px;
  color: rgb(237, 220, 220);
  font-weight: lighter;
}

.card {
  font-size: smaller;
  text-align: center;
  background: transparent;
  color: #fff;
  list-style: none;
  width: 100px;
  height: 120px;
  background: rgba(231, 218, 218, 0.1);
  backdrop-filter: blur(50px);
  border-radius: 15px;
  margin: 5px;
}

.card img {
  max-width: 80px;
  margin-bottom: -19px;
}

.card h6 {
  font-weight: lighter;
}

/* detail weather */
.detail-weather {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

/* pressure section */
.pressure-card {
  height: 200px;
  width: 384px;
  text-align: center;
  background: transparent;
  background: rgba(231, 218, 218, 0.1);
  backdrop-filter: blur(50px);
  border-radius: 15px;
}

.pressure-card li {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  margin-left: 30px;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(213, 209, 203);
  font-family: serif;
  margin-top: -20px;
  background: transparent;
  backdrop-filter: blur(50px);
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.pressure-card h2 {
  font-size: 15px;
  color: rgb(237, 220, 220);
  font-weight: lighter;
  text-align: start;
  margin-top: 15px;
  margin-left: 15px;
}

.wind-card {
  height: 200px;
  width: 384px;
  list-style: none;
  text-align: center;
  background: transparent;
  background: rgba(231, 218, 218, 0.1);
  backdrop-filter: blur(50px);
  border-radius: 15px;
}

.winds-container {
  display: flex;
  flex-direction: row;
}

.img-wind {
  width: 140px;
  height: 140px;
  margin-top: -20px;
  margin-left: 50px;
}

.wind-card h2 {
  font-size: 15px;
  color: rgb(237, 220, 220);
  font-weight: lighter;
  text-align: start;
  margin-top: 15px;
  margin-left: 15px;
}

.wind-card li {
  margin-top: 15px;
  margin-left: 30px;
  list-style: none;
}
.wind-card h3 {
  display: flex;
  text-align: start;
  border-bottom: 2px solid black;
  font-size: 30px;
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
}

.winds-container p {
  font-size: 15px;
  margin-left: 8px;
  color: #fff;
}

.winds-container span {
  color: rgb(152, 124, 124);
}
